html {
    width: 100%;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, rgb(255, 122, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, rgb(255, 122, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, rgb(255, 122, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, rgb(255, 122, 0)); /* Standard syntax */
}
html, body{
    margin: 0; padding: 0; 
    height: 100%;
}
body{
    display: table;
    width:100%;
    position: relative;
}
#centerWrapper{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}
#center2{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
#teaserBox{
    text-align: center;
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}
#teaserBox h3{
    display: inline-block;
}
#teaserBox h3:nth-of-type(1){
    text-decoration: underline;
}
#teaserBox h1{
    margin-bottom: 0px;
}
#teaserBox h3{
    margin-top: 0px;
}
.inputBox, .selectionBox, .infoBox, .sumbitBox{
    text-align: center;
    font-family: “Myriad Pro”, Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.inputBox input, textarea, .infoBox input{
    font-size: 15px;
    border-radius: 6px;
    height: 46px;
    width: 92%;
    line-height: 46px;
    border-width: 0px;
    padding: 0px 0px 0px 12px;
    background: rgb(255, 255, 255); /* For browsers that do not support gradients */
    
}
.inputBox input, textarea{
    overflow: auto;
    resize: none;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 202, 153));
    background: -moz-linear-gradient(rgb(255, 255, 255), rgb(255, 202, 153));
    background: -o-linear-gradient(rgb(255, 255, 255), rgb(255, 202, 153));
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 202, 153));
}
.inputBox .inputWrapper, .selectionBox .inputWrapper{
    position: relative;
    display: inline-block;
    width: 49%;
    height: 50px;
    margin: 5px 0px 5px 0px;
}
.inputBox .inputWrapper .holder, .infoBox .inputWrapper .holder{
    position: absolute;
    top:13.6px;
    left:20.4px;
    color: #A3A3A3;
    cursor: auto;
    z-index: 1;
}
.infoBox .inputWrapper .holder{
    left:12.5px;
}
.selectionBox{
    padding: 30px 0px 30px 0px;
    color: rgb(255, 122, 0);
}
.infoBox, .sumbitBox{
    max-width: 374px; 
    margin: auto;
}
.infoBox .inputWrapper{
    display: inline-block;
}
.infoBox .vidNumberWrapper{
    position: relative;
    max-width: 169px;
        margin-top: 10px;
}
.infoBox .ticketsCountWrapper{
    position: relative;
    max-width: 205px;
        margin-top: 10px;
}
.infoBox .ticketsText{
    color:white;
    padding-left: 12px;
}
.sumbitBox input{
    width: 100%;
    font-size: 15px;
    border-radius: 6px;
    height: 46px;
    line-height: 46px;
    border-width: 0px;
    background: rgb(27, 54, 71);
    color:white;
    font-family: “Myriad Pro”, Arial, Helvetica, sans-serif;
}
.sumbitBox{
    margin-top: 10px;
}
#ticketsCount{
    width: 38px;
}
#alertsWrapper{
    display: none;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height:400px;
}

.alertBox{
    border-radius: 10px;
    background-color: rgba(128,128,128, 0.5);
    height: 40px;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0px;
    display:table;
    opacity:1;
    transition: all .5s linear;
}
.textBox{
    display: table-cell; 
    vertical-align: middle;
}
@media screen and (max-width: 425px) {
    .inputBox .inputWrapper{
        width: 100%;
    }
}

input:-webkit-autofill{
    color:green;
}